.text-area {
  margin: 24px 0;
  padding: 0 16px;
}

.text-area label {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}
.text-area input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  padding: 24px;
  font-size: 16px;
  box-sizing: border-box;
}